<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>Password Generator</title>
</head>
<body>
    <div class="container">
        <h1>Password Generator</h1>
        <button onclick="location.href='/generate'">Generate a password</button>
        <button onclick="location.href='/verify'">Verify password strength</button>
        <button onclick="location.href='/improve'">Make a password strong</button>
    </div>
</body>
</html>
