<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>Verify Password</title>
</head>
<body>
    <div class="container">
        <h1>Verify a Password</h1>
        <input type="text" id="passwordInput" placeholder="Enter password here">
        <p id="strengthResult">Password strength will be displayed here.</p>
        <button id="copyButton" onclick="copyPassword()">Copy Password</button>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
